<div class="containe"  id="deptfil">
    <div class="left-content">
        <dx-tree-view
            noDataText=""
            [dataSource]="deptfilieres"
            selectionMode="single"
            [selectByClick]="true"
            (onItemSelectionChanged)="changeSelection($event)"
        ></dx-tree-view>
    </div>
    <div class="right-content">
        <!-- <app-tabetudiant idfiliere={{selectedfiliereid}} Filieretitle={{selectedfilieretitle}}></app-tabetudiant> -->
        <router-outlet></router-outlet>
        
    </div>
</div>