<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow">
    <div class="iconesleft" [ngClass]="{'icone-leftside-open':asidebar_closed==0}">
      <span class="icone-leftside" (click)="toggle_sidebar()">
        <a  class="text-dark"><i class="fas" [ngClass]="{'fa-align-right':asidebar_closed==0 , 'fa-bars':asidebar_closed==1 }"></i></a>
      </span>
    </div>
    <div class="icones">
          <span class="icone rightside"><a href="#" class="text-dark"><i class="fas fa-address-book"></i></a></span>
              <span class=" icone "><a href="#" class="text-dark"><i class="fas fa-bell"></i></a></span>
              <span class=" icone "><a href="#" class="text-dark"><i class="far fa-envelope"></i></a></span>
              <!-- <span class=" icone "><a href="#" class="text-dark"><i class="fas fa-user"></i></a></span>  -->
              <a href="#" class="icone text-dark" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button">Profile</button>
                  <!-- <button class="dropdown-item" type="button">Another action</button> -->
                  <button class="dropdown-item" type="button" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Se deconnecter</button>
                </div>
              
    </div>

     
          
  </nav>