
.navbar{
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    height: 56px;
}
.icone{
    
     border-color: transparent;
     background-color: transparent;
     font-size: 22px;
     margin-left: 25px;
   
}
.icones{
    float: right;
    max-width: 200px;
}
// .shadow {
//     box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
// }
.bg-light {
    background-color: #ffffff!important;
}
.border-bottom {
    border-bottom: 1px solid #439777!important;
}