.full{
height:46px;
}
.icone{
    
     border-color: transparent;
     background-color: transparent;
     font-size: 22px;
     margin-left: 25px;
   
}
.icones{
    max-width: 200px;
}
// .shadow {
//     box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
// }
.bg-light {
    background-color: #ffffff!important;
}
.border-bottom {
    border-bottom: 1px solid #439777!important;
}