<div class="absence_full">
<svg>
    <g *ngFor="let S of semaine ; let i = index" 
       [ngStyle]="{'transform': 'translateX(' + S.translate + 'px)'}">
        <rect 
        width="12" 
        height="12" 
        *ngFor="let JR of S.jour; let index = index" 
        [attr.y]="jour_positions_Y(index)"
        [attr.data_jour]="JR"
        [attr.data_semaine]="S.number"
        style="fill:#d3d3d3;" 
        (click)="select_day($event)"
        (mouseover)="tooltip($event)"/>
    </g>
    <text x="0" y="9" class="semaine">1</text>
    <text x="141" y="9" class="semaine">1</text>
</svg>
</div>