.absence_full{
    width: 100%;
    min-height: 500px;
    height: auto;
    border: 1px solid #000000;
    margin-top: 10px;
    margin-bottom: 60px;
    overflow-x: auto;
    overflow-y: hidden;
}
.absence_content{
    min-width: 640px;
    padding: 30px;
}
.semaine{
    font-size: 10px;
    fill: #767676;
}

.card-input-element {
    
    display: none;
}

.card-input {
    margin: 10px;
    padding: 00px;
}

.card-input:hover {
    cursor: pointer;
}
.absent_text{
    color: #cc2e2e;
    display:none;
}
.card-input-element:checked  {
    + .card-input{
       box-shadow: 0 0 1px 1px #cc2e2e; 
    }
    + .panel.panel-default.card-input .card .card-body .absent_text{
        display:block;
    }
    + .panel.panel-default.card-input .card .card-img-top.absent_pic{
        display:block;
    }
    + .panel.panel-default.card-input .card .card-img-top.no_absent_pic{
        display:none;
    }
}
.absent_pic{
    display:none;  
}
.no_absent_pic{
    display:block;  
}
.card-title{
    height: 38px;
}
.card{
    text-align: center !important;
    align-items: center !important;
}
.card-img, .card-img-bottom, .card-img-top {
    width: 50% !important;
}