
<div class="asidebar" [ngClass]="{'close_O':asidebar_closed!=0}">
     <div class="header">
     <!-- <h4 class="titre">LOGO</h4> -->
     <img src="assets/logopfe1.png" height="53">
     </div>
     <div class="items">
        <div class="list-group">
        <a class="oneitem" class="oneitem" style="height: 39px;" [routerLink]="['/dashboard']">
            <span class="icone" ><i class="fas fa-home"></i></span>
            <span class="title" >Page d'acceuil </span>
            <!-- <span class="fleche" *ngIf="!content.active"><i class="arrow fas fa-chevron-right"></i></span> 
            <span class="fleche" *ngIf="content.active"><i class="arrow fas fa-chevron-down"></i></span>  -->
        </a>
        </div>
       <div  *ngFor='let content of this.Contents ; index as i'>  
        <div class="list-group">
             <a class="oneitem" [ngClass]="{'active': content.active, 'oneitem': !content.active}"  data-toggle="collapse" (click)="togllecolapse(content.titre , i)"  role="button" aria-expanded="false" aria-controls="collapseExample">
                 <span class="icone" ><i class="{{ content.icone}}"></i></span>
                 <span class="title" >{{content.titre}}</span>
                 <span class="fleche" *ngIf="!content.active"><i class="arrow fas fa-chevron-right"></i></span> 
                 <span class="fleche" *ngIf="content.active"><i class="arrow fas fa-chevron-down"></i></span> 
             </a>
        </div>  
             <div class="collapse" id="{{content.titre}}" >

                <div class="card lists">                  
                <div class="list " *ngFor='let id of content.itemsid ; index as b'>  
                    <a  [routerLink]="[this.getitem(id).link]" class="titleT"><span>{{this.getitem(id).titre}}</span></a>
                </div>
                
                </div>
            </div>
        </div>
        
     </div>
</div>
