::ng-deep #data-grid-demo {
    min-height: 350px;
}
.tableau{
    // margin-top: 10px;

    margin-right: 10px;
}
.filieretitle{
    margin-top: 20px;
    color: #025c59;
}
.profile{
    text-align: right;
    .grrr{
        color: #009688;
    }
}

