::ng-deep .first-group,
::ng-deep .second-group {
    padding: 20px;
}

::ng-deep .second-group {
    background-color: rgb(231, 231, 231);
}

::ng-deep .form-avatar {
    height: 128px;
    width: 128px;
    margin-right: 10px;
    border: 1px solid #d2d3d5;
    border-radius: 50%;
    background-image: url('/assets/studentavatare.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.tableau{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
}