.navbar{
    top:0;
    right: 0;
    margin-left: 200px;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu;  }
.item3 { grid-area: main;   margin-top: 10px; overflow: auto; }

.grid-container {
  background-color: #f3f3f3;
    overflow: hidden;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      "menu header"
      "menu main"
      "menu main";
    height: 100vh;
}

.contenu{
  width: calc(100% - 10px);
  margin: 10px;
}