<app-portlet title="Gestion des Filieres">
    <div class="tableau">
        <div id="data-grid-demo">
    <dx-data-grid 
    id="gridContainer" 
    [dataSource]="dataSource"
    keyExpr="id"
    [showBorders]="true">

    <dxo-selection mode="single"></dxo-selection>

    <dxi-column dataField="id" [width]="130" caption="Identifiant"></dxi-column>
    <dxi-column dataField="name" [width]="120" ></dxi-column>
    <dxi-column dataField="deptname.name" [groupIndex]="0" caption="Departement">
    </dxi-column>
    <dxi-column dataField="departement_id" [visible]="false">
        <dxo-lookup
        [dataSource]="departements"
        displayExpr="name"
        valueExpr="id">
    </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="created_at" ></dxi-column>
    <dxi-column dataField="updated_at"></dxi-column>
    <dxo-editing 
                mode="popup"
                [refreshMode]="full"
                [allowAdding]="true"
                [allowDeleting]="true"
                [allowUpdating]="true">
                <dxo-popup
                title="Information de Professeur"
                [showTitle]="true"
                [width]="400"
                [height]="305"
                [position]="{ my: 'center', at: 'center', of: window }">
            </dxo-popup>
            <dxo-form> 
                 <dxi-item dataField="name"  [colSpan]="2">
                     <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-item>
                    <dxi-item dataField="departement_id"  [colSpan]="2">
                        <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
                    </dxi-item>
            </dxo-form>
            
            
            </dxo-editing>
</dx-data-grid>
</div></div>
</app-portlet>