

<app-portlet titre="Gestion des departements">
    <div class="tableau">
        <div id="data-grid-demo">
            <dx-data-grid 
                #datagrid
                id="gridContainer"
                [dataSource]="dataSource"
                keyExpr="id"
                [columnHidingEnabled]="true"
                [repaintChangesOnly]="true"
                [showBorders]="true">
                
                <dxo-paging [enabled]="false"></dxo-paging>
                <dxo-editing 
                    mode="popup"
                    [refreshMode]="full"
                    [allowAdding]="true"
                    [allowUpdating]="true">
                    <dxo-popup
                        title="Information de departement"
                        [showTitle]="true"
                        [width]="400"
                        [height]="205"
                        [position]="{ my: 'center', at: 'center', of: window }">
                    </dxo-popup>
                    <dxo-form> 
                         <!-- <dxi-item dataField="fullname"  [colSpan]="2">
                             <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item> -->
                            <dxi-item dataField="name"  [colSpan]="2">
                                <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
                                <dxi-validation-rule type="async" message="name is already taken" [validationCallback]="asyncValidation"></dxi-validation-rule>
                            </dxi-item>
                    </dxo-form>
                </dxo-editing>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxi-column dataField="id" caption="Id" [width]="70"></dxi-column>
                <dxi-column dataField="name"></dxi-column>
                <dxi-column dataField="created_at"></dxi-column>
                <dxi-column dataField="updated_at"></dxi-column>
            </dx-data-grid>
        </div>
     </div>
    
</app-portlet>