<div class="row carte">
    
    <div class=" col-xl-3 col-md-6 item  ">
        <div class=" stats ">
           <div class="card" style="padding: 19px; ">
                <div class=" row">
                    <div class=" col " style="text-align: left;">
                        <h5 class=" card-title text-uppercase text-muted mb-0 statistitle"> Total étudiant <br>
                            <span class=" h2 font-weight-bold mb-0 statisval "> 1500 </span></h5>
                    </div>
                    <div class=" col-auto" style="text-align: right;">
                        <div class=" iconesales  text-dark shadow rounded-circle test">
                            <!-- <i class="fas fa-user-graduate"></i> -->
                            <i class="fas fa-user-graduate" style="color:white;"></i>
                        </div>
                    </div>
                </div>
                        <p class=" mt-3 mb-0 text-sm " style="text-align: left;">
                            <span class=" text-success mr-2 statisperc">
                                <i class=" fa fa-arrow-up"></i> 3.48% </span>
                                <span class=" text-nowrap statisdate"> Since last month </span>
                            </p>
           </div>

        </div>
             
            
    </div>
        <div class=" col-xl-3 col-md-6 item  ">
        <div class=" stats ">
           <div class="card" style="padding: 19px; ">
                <div class=" row">
                    <div class=" col " style="text-align: left;">
                        <h5 class=" card-title text-uppercase text-muted mb-0 statistitle"> Total professeur<br><span class=" h2 font-weight-bold mb-0 statisval "> 350,897 </span></h5>
                        
                    </div>
                    <div class=" col-auto" style="text-align: right;">
                        <div class=" icone  text-dark shadow rounded-circle test">
                            <!-- <i class="fas fa-check-circle"></i> -->
                                <i class="fas fa-user-tie" style="color:white;"></i>
                        </div></div></div>
                        <p class=" mt-3 mb-0 text-sm " style="text-align: left;">
                            <span class=" text-success mr-2 statisperc">
                                <i class=" fa fa-arrow-up"></i> 3.48% </span>
                                <span class=" text-nowrap statisdate"> Since last month </span>
                            </p>
           </div>

        </div>
             
            
    </div>
    <div class=" col-xl-3 col-md-6 item  ">
            <div class=" stats ">
               <div class="card" style="padding: 19px; ">
                    <div class=" row">
                        <div class=" col " style="text-align: left;">
                            <h5 class=" card-title text-uppercase text-muted mb-0 statistitle"> Total comptes
                                 <br><span class=" h2 font-weight-bold mb-0 statisval "> 5,897 </span></h5>
                        </div>
                        <div class=" col-auto" style="text-align: right;">
                            <div class=" iconestores  text-dark shadow rounded-circle test">
                                <!-- <i class="far fa-address-card"></i> -->
                                <i class="far fa-address-card" style="color:white;"></i>
                            </div>
                        </div>
                    </div>
                            <p class=" mt-3 mb-0 text-sm " style="text-align: left;">
                                <span class=" text-success mr-2 statisperc"><i class=" fa fa-arrow-up"></i> 3.48% </span>
                                <span class=" text-nowrap statisdate"> Since last month </span>
                            </p>
               </div>

            </div>
                 
                
        </div>            <div class=" col-xl-3 col-md-6 item ">
                <div class=" stats ">
                   <div class="card" style="padding: 19px; ">
                        <div class=" row">
                            <div class=" col " style="text-align: left;">
                                <h5 class=" card-title text-uppercase text-muted mb-0 statistitle">Total Utilisateurs <br><span class=" h2 font-weight-bold mb-0 statisval "> 350,897 </span></h5>
                                
                            </div>
                            <div class=" col-auto" style="text-align: right;">
                                <div class=" iconeusers  text-dark shadow rounded-circle test">
                                       
                                        <i class="fas fa-users" style="color:white;"></i>
                                </div></div></div>
                                <p class=" mt-3 mb-0 text-sm " style="text-align: left;">
                                    <span class=" text-success mr-2 statisperc">
                                        <i class=" fa fa-arrow-up"></i> 3.48% </span>
                                        <span class=" text-nowrap statisdate"> Since last month </span>
                                    </p>
                   </div>
    
                </div>
                     
                    
            </div>
</div>


<app-portlet titre="Stores Created this week :"></app-portlet>
<div style="margin-top: 20px;">
 <app-portlet titre="Our best Clients :"></app-portlet>   
</div> 

  <div class="row " style="height: auto; margin-top: 20px; margin-bottom: 20px">

    </div>
