<div class="row carte">
    
    <div class=" col-xl-3 col-md-6 item  ">
        <div class=" stats ">
           <div class="card" style="padding: 19px; ">
                <div class=" row">
                    <div class=" col " style="text-align: left;">
                        <h5 class=" card-title text-uppercase text-muted mb-0 statistitle"> Total sales <br>
                            <span class=" h2 font-weight-bold mb-0 statisval "> 150,097$ </span></h5>
                    </div>
                    <div class=" col-auto" style="text-align: right;">
                        <div class=" iconesales  text-dark shadow rounded-circle test">
                            <i class="fas fa-money-bill-wave-alt" style="color:white;"></i>
                        </div>
                    </div>
                </div>
                        <p class=" mt-3 mb-0 text-sm " style="text-align: left;">
                            <span class=" text-success mr-2 statisperc">
                                <i class=" fa fa-arrow-up"></i> 3.48% </span>
                                <span class=" text-nowrap statisdate"> Since last month </span>
                            </p>
           </div>

        </div>
             
            
    </div>
        <div class=" col-xl-3 col-md-6 item  ">
        <div class=" stats ">
           <div class="card" style="padding: 19px; ">
                <div class=" row">
                    <div class=" col " style="text-align: left;">
                        <h5 class=" card-title text-uppercase text-muted mb-0 statistitle"> Total traffic <br><span class=" h2 font-weight-bold mb-0 statisval "> 350,897 </span></h5>
                        
                    </div>
                    <div class=" col-auto" style="text-align: right;">
                        <div class=" icone  text-dark shadow rounded-circle test">
                                <i class="fas fa-check-circle" style="color:white;"></i>
                        </div></div></div>
                        <p class=" mt-3 mb-0 text-sm " style="text-align: left;">
                            <span class=" text-success mr-2 statisperc">
                                <i class=" fa fa-arrow-up"></i> 3.48% </span>
                                <span class=" text-nowrap statisdate"> Since last month </span>
                            </p>
           </div>

        </div>
             
            
    </div>
    <div class=" col-xl-3 col-md-6 item  ">
            <div class=" stats ">
               <div class="card" style="padding: 19px; ">
                    <div class=" row">
                        <div class=" col " style="text-align: left;">
                            <h5 class=" card-title text-uppercase text-muted mb-0 statistitle"> Total Stores
                                 <br><span class=" h2 font-weight-bold mb-0 statisval "> 5,897 </span></h5>
                        </div>
                        <div class=" col-auto" style="text-align: right;">
                            <div class=" iconestores  text-dark shadow rounded-circle test">
                                <i class="fas fa-store" style="color:white;"></i>
                            </div>
                        </div>
                    </div>
                            <p class=" mt-3 mb-0 text-sm " style="text-align: left;">
                                <span class=" text-success mr-2 statisperc"><i class=" fa fa-arrow-up"></i> 3.48% </span>
                                <span class=" text-nowrap statisdate"> Since last month </span>
                            </p>
               </div>

            </div>
                 
                
        </div>            <div class=" col-xl-3 col-md-6 item ">
                <div class=" stats ">
                   <div class="card" style="padding: 19px; ">
                        <div class=" row">
                            <div class=" col " style="text-align: left;">
                                <h5 class=" card-title text-uppercase text-muted mb-0 statistitle"> Total Users <br><span class=" h2 font-weight-bold mb-0 statisval "> 350,897 </span></h5>
                                
                            </div>
                            <div class=" col-auto" style="text-align: right;">
                                <div class=" iconeusers  text-dark shadow rounded-circle test">
                                       
                                        <i class="fas fa-users" style="color:white;"></i>
                                </div></div></div>
                                <p class=" mt-3 mb-0 text-sm " style="text-align: left;">
                                    <span class=" text-success mr-2 statisperc">
                                        <i class=" fa fa-arrow-up"></i> 3.48% </span>
                                        <span class=" text-nowrap statisdate"> Since last month </span>
                                    </p>
                   </div>
    
                </div>
                     
                    
            </div>
</div>



 <div class="row statis ">
        <div class="portlet ">
            <div class="row title">
                 <h5 class="contenu">Stores Created this week :</h5>
            </div>
            <div class="row tableau">
              <div class="col-lg-12">
         <!-- <app-chart-bar></app-chart-bar> -->
         
              </div>
            </div>
        </div>    
 </div>




 <div class="row statis">

        <div class="row col-12 title h-100">
                <h5 class="contenu"> Our best Clients :</h5>
               </div>
               <div class="row">
                    <div class="col-lg-5">
                            <div class="card" style="margin-top: 30px; float: left; width: 100%;" >
                                    <img src="assets/img/russia.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Russia</h5>
                                    </div>
                                    <ul class="list-group list-group-flush" style="font-size: 20px;">
                                      <li class="list-group-item">55% of our client</li>
                                      <li class="list-group-item">hamza best seller</li>
                                      <li class="list-group-item">55,000$</li>
                                    </ul>
                                    <div class="card-body">
                                     
                                      <a href="#" class="card-link">List of Client </a>
                                    </div>
                                  </div>
                        </div>
                    <div class="col-lg-7">
                            <!-- <app-chart-pie></app-chart-pie> -->
                        </div>
        
                      
               </div>
        
               
        
</div>
  <div class="row " style="height: auto; margin-top: 20px; margin-bottom: 20px">
                    <!-- <div class="col-lg-6 col-12 demi1">
                            <app-chart-bar></app-chart-bar>  
                        </div>
                        
         <div class=" col-lg-6 col-12 demi1 ">
                <app-chart-pie></app-chart-pie>
                    </div> -->
                </div>
