<div class="containe"  id="deptfil">

     <div class="left-content">
        <dx-tree-view
           #targettree
            keyExpr="id"
            noDataText=""
            [dataSource]="deptfilieres"
            selectionMode="single"
            [selectByClick]="true"
            (onItemSelectionChanged)="changeSelection($event)"
        ></dx-tree-view>
        <!-- <app-loadingpage loading={{loading}} idparent="deptfil"></app-loadingpage> -->
    </div>
    <div class="right-content">
        <div *ngIf="imageVisible" style="text-align: center;">
            <img src="assets/undraw_Choose_bwbs.svg" >
          </div>        
          <router-outlet 
          (deactivate)='onDeactivate($event)'
          (activate)="onActivate($event)"></router-outlet>
        
    </div>   
    
</div> 