<div class="containe"  id="deptfil">
    <div class="left-content">
        <dx-tree-view
            keyExpr="id"
            noDataText=""
            [dataSource]="deptfilieres"
            selectionMode="single"
            [selectByClick]="true"
            (onItemSelectionChanged)="changeSelection($event)"
        ></dx-tree-view>
        <app-loadingpage loading={{loading}} idparent="deptfil"></app-loadingpage>
    </div>
    <div class="right-content">
        <!-- <app-tabetudiant idfiliere={{selectedfiliereid}} Filieretitle={{selectedfilieretitle}}></app-tabetudiant> -->
        <router-outlet></router-outlet>
        
    </div>
</div> 